.vm_dm/
# 1_cr_docker-host.sh
# 1_cr_docker-machine.sh
# 2_cr_gitlab-ci-vm.sh
# 2_cr_dm_gilab-ci.sh
# 3_cr_docker-host-logging.sh
# 3_cr_docker_m_logging.sh

.vscode/
.env

#terraform
key_tf.json
terraform.tfvars
version.tf
key_tf_k8s.json

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
tfplan

.terraform.lock.hcl

#packer
variables.json

#ansible
work.log
roles/
reddit_app_container.yaml
env_tf_state.env
inventory.json

#k8s
secret.yml

Gitlab_ci/
gitlab/
runner/

