.vm_dm/
# 1_cr_docker-host.sh
# 1_cr_docker-machine.sh
# 2_cr_gitlab-ci-vm.sh
# 2_cr_dm_gilab-ci.sh
# 3_cr_docker-host-logging.sh
# 3_cr_docker_m_logging.sh

.vscode/
.env

#terraform
key_tf.json
terraform.tfvars
version.tf

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

.terraform.lock.hcl

#packer
variables.json

#ansible
work.log
roles/
reddit_app_container.yaml
