kind: Secret
apiVersion: v1
metadata:
  name: ui-ingress
  namespace: dev
data:
  tls.crt: >-
    Example_lVR3FzT05iK3FIU2lzczl6W
  tls.key: >-
    Example_lHOXcwQkFRRUZBQVNDQktjd
type: kubernetes.io/tls
